#profile {
    min-height: 75vh;
}

.box {
    height: 60vh;
    border: 2px solid #5050507c;
    margin: 8rem 2rem 0 15rem;
    border-radius: 0.5rem;
}

#box-heading {
    font-size: 1.8rem;
    padding: 0.5rem;
    background-color: #f2f2f2;
    border-bottom: 2px solid #5050507c;
    border-radius: 0.5rem 0.5rem 0 0;
}

#box-footer {
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: underline solid #000 1.5px;
    margin: 7rem 4rem;
}

strong {
    color: #b30000;
    text-decoration: underline solid #000 2px;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 5rem 7rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.8rem;
    text-align: center;
}

th {
    background-color: #5050507c;
    font-size: 1.4rem;
}

td {
    font-size: 1.2rem;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}